<?xml version="1.0" encoding="UTF-8"?>
<config>
	<url>http://harvester.orbiscascade.org/</url>
	<production_server>http://archiveswest.orbiscascade.org/</production_server>
	<title>Orbis Cascade Harvester</title>
	<description>These are the cultural heritage objects aggregated by the Orbis Cascade Alliance.</description>
	<publisher>Orbis Cascade Alliance</publisher>
	<repository_rdf>http://archiveswest.orbiscascade.org:8080/orbeon/nwda/repositories.rdf</repository_rdf>
	<repository_path>/usr/local/projects/repository_records</repository_path>
	<sparql>
		<query>http://localhost:3030/nwda/query</query>
		<store>http://localhost:3030/nwda/data</store>
		<update>http://localhost:3030/nwda/update</update>
	</sparql>
	<vocab_sparql>
		<query>http://localhost:3030/vocabs/query</query>
		<store>http://localhost:3030/vocabs/data</store>
		<update>http://localhost:3030/vocabs/update</update>
	</vocab_sparql>
	<geonames_api_key>orbiscascade</geonames_api_key>	
	<limit>24</limit>
	<dpla_limit>5000</dpla_limit>
	<oai-pmh_limit>100</oai-pmh_limit>
	<codes>
		<repository marc="idbb" harvester-only="false" exlibris=""/>
		<repository marc="orbec" harvester-only="false" exlibris="COCC"/>
		<repository marc="waeic" harvester-only="false" exlibris="CWU"/>
		<repository marc="orsac" harvester-only="true" exlibris="CHEMEK"/>
		<repository marc="orocc" harvester-only="true" exlibris=""/>
		<repository marc="wavc" harvester-only="true" exlibris="CC"/>
		<repository marc="orpcc" harvester-only="false" exlibris="CONC"/>
		<repository marc="orsitcc" harvester-only="true" exlibris=""/>
		<repository marc="orlge" harvester-only="true" exlibris="EOU"/>
		<repository marc="wachene" harvester-only="false" exlibris="EWU"/>
		<repository marc="orngf" harvester-only="false" exlibris="GFOX"/>
		<repository marc="orel" harvester-only="false" exlibris="LANECC"/>
		<repository marc="orpl" harvester-only="false" exlibris="LCC"/>
		<repository marc="ormcl" harvester-only="true" exlibris="LINF"/>
		<repository marc="ormac" harvester-only="true" exlibris="MRY"/>
		<repository marc="orgrc" harvester-only="true" exlibris="MHCC"/>
		<repository marc="mthi" harvester-only="false" exlibris=""/>
		<repository marc="mtbc" harvester-only="false" exlibris=""/>
		<repository marc="wasmhi" harvester-only="false" exlibris=""/>
		<repository marc="orphs" harvester-only="false" exlibris="OHSU"/>
		<repository marc="orhi" harvester-only="false" exlibris=""/>
		<repository marc="orkt" harvester-only="false" exlibris="OIT"/>
		<repository marc="orcs" harvester-only="false" exlibris="OSU"/>
		<repository marc="wapip" harvester-only="true" exlibris=""/>
		<repository marc="orfp" harvester-only="false" exlibris="PU"/>
		<repository marc="orppc" harvester-only="true" exlibris="PCC"/>
		<repository marc="orps" harvester-only="false" exlibris="PSU"/>
		<repository marc="orpr" harvester-only="true" exlibris="REED"/>
		<repository marc="walsm" harvester-only="true" exlibris="STMU"/>
		<repository marc="utwvslc" harvester-only="false" exlibris=""/>
		<repository marc="wasmar" harvester-only="false" exlibris=""/>
		<repository marc="waspc" harvester-only="false" exlibris="SPU"/>
		<repository marc="wasu" harvester-only="false" exlibris="SEAU"/>
		<repository marc="orashs" harvester-only="true" exlibris="SOU"/>
		<repository marc="wat" harvester-only="false" exlibris=""/>
		<repository marc="waoe" harvester-only="false" exlibris="EVSC"/>
		<repository marc="idu" harvester-only="false" exlibris="UID"/>
		<repository marc="mtu" harvester-only="false" exlibris=""/>
		<repository marc="oru" harvester-only="false" exlibris="UO"/>
		<repository marc="oreuurm" harvester-only="false" exlibris="UO"/>
		<repository marc="orpu" harvester-only="true" exlibris="UPORT"/>
		<repository marc="watu" harvester-only="false" exlibris="UPUGS"/>
		<repository marc="uu" harvester-only="true" exlibris=""/>
		<repository marc="uuml" harvester-only="false" exlibris=""/>
		<repository marc="wauar" harvester-only="true" exlibris="UW"/>
		<repository marc="waseumc" harvester-only="false" exlibris="UW"/>
		<repository marc="wau" harvester-only="true" exlibris="UW"/>
		<repository marc="ula" harvester-only="false" exlibris=""/>
		<repository marc="wawc" harvester-only="true" exlibris="WALLA"/>
		<repository marc="orpwp" harvester-only="true" exlibris="WPC"/>
		<repository marc="waps" harvester-only="false" exlibris="WSU"/>
		<repository marc="ormonw" harvester-only="false" exlibris="WOU"/>
		<repository marc="wabewwuh" harvester-only="false" exlibris="WWU"/>
		<repository marc="wabewwua" harvester-only="true" exlibris="WWU"/>
		<repository marc="wabewwus" harvester-only="true" exlibris="WWU"/>
		<repository marc="wabewh" harvester-only="true" exlibris="WWU"/>
		<repository marc="waww" harvester-only="false" exlibris="WHITC"/>
		<repository marc="waspw" harvester-only="false" exlibris="WW"/>
		<repository marc="orsaw" harvester-only="false" exlibris="WU"/>
	</codes>
	<dams>
		<contentdm-default>
			<repository pattern="content">waps</repository>
			<repository>idbb</repository>
			<repository>ula</repository>
			<repository>uuml</repository>
			<repository>wauar</repository>
			<repository>wabewwuh</repository>
			<repository pattern="contentdm">wachene</repository>
			<repository>ormac</repository>
			<repository>orkt</repository>
			<repository>orppc</repository>
			<repository>wasu</repository>
			<repository>orashs</repository>
			<repository>idu</repository>
			<repository>orpu</repository>
			<repository pattern="digitalcollections">watu</repository>
			<repository pattern="contentdm">wau</repository>
			<repository pattern="content.wwu">wabewh</repository>
			<repository pattern="contentdm">waww</repository>			
		</contentdm-default>		
		<digital-commons>
			<repository>mtu</repository>
			<repository>waeic</repository>
			<repository pattern="digitalcommons">orphs</repository>
			<repository>orpcc</repository>
			<repository pattern="dc.ewu">wachene</repository>
			<repository>orngf</repository>
			<repository>ormcl</repository>
			<repository>orfp</repository>
			<repository>orps</repository>
			<repository>waspc</repository>
			<repository pattern="soundideas">watu</repository>
			<repository>ormonw</repository>
			<repository pattern="cedar.wwu">wabewh</repository>
			<repository pattern="arminda">waww</repository>
			<repository pattern="digitalcommons">waspw</repository>
		</digital-commons>
		<dspace>
			<repository pattern="research">waps</repository>
			<repository pattern="scholarsbank">oru</repository>
			<repository pattern="digital.lib">wau</repository>
		</dspace>
		<omeka>
			<repository>wavc</repository>
			<repository>orpl</repository>
			<repository pattern="oai-pmh-repository">orphs</repository>
		</omeka>
		<oregondigital>
			<repository pattern="oregondigital">oru</repository>
			<repository pattern="oregondigital">orcs</repository>
		</oregondigital>
		<other>			
			<repository note="some other contentdm">orsaw</repository>
			<repository>orpr</repository>
		</other>
	</dams>
</config>
