<?xml version="1.0" encoding="UTF-8"?>
<config>
	<url>http://harvester.orbiscascade.org/</url>
	<production_server>http://archiveswest.orbiscascade.org/</production_server>
	<title>Archives West Harvester</title>
	<description>These are the cultural heritage objects aggregated by the Orbis Cascade Alliance.</description>
	<publisher>Orbis Cascade Alliance</publisher>
	<repository_rdf>http://archiveswest.orbiscascade.org:8080/orbeon/nwda/repositories.rdf</repository_rdf>
	<sparql>
		<query>http://localhost:3030/nwda/query</query>
		<store>http://localhost:3030/nwda/data</store>
		<update>http://localhost:3030/nwda/update</update>
	</sparql>
	<vocab_sparql>
		<query>http://localhost:3030/vocabs/query</query>
		<store>http://localhost:3030/vocabs/data</store>
		<update>http://localhost:3030/vocabs/update</update>
	</vocab_sparql>
	<geonames_api_key>orbiscascade</geonames_api_key>	
	<limit>24</limit>
	<dpla_limit>10000</dpla_limit>
	<oai-pmh_limit>100</oai-pmh_limit>
	<codes>
		<repository marc="idbb" exlibris=""/>
		<repository marc="orbec" exlibris="COCC"/>
		<repository marc="waeic" exlibris="CWU"/>
		<repository marc="orsac" exlibris="CHEMEK"/>
		<repository marc="orocc" exlibris=""/>
		<repository marc="wavc" exlibris="CC"/>
		<repository marc="orpcc" exlibris="CONC"/>
		<repository marc="orsitcc" exlibris=""/>
		<repository marc="orlge" exlibris="EOU"/>
		<repository marc="wachene" exlibris="EWU"/>
		<repository marc="orngf" exlibris="GFOX"/>
		<repository marc="orel" exlibris="LANECC"/>
		<repository marc="orpl" exlibris="LCC"/>
		<repository marc="ormcl" exlibris="LINF"/>
		<repository marc="ormac" exlibris="MRY"/>
		<repository marc="orgrc" exlibris="MHCC"/>
		<repository marc="mthi" exlibris=""/>
		<repository marc="mtbc" exlibris=""/>
		<repository marc="wasmhi" exlibris=""/>
		<repository marc="orphs" exlibris="OHSU"/>
		<repository marc="orhi" exlibris=""/>
		<repository marc="orkt" exlibris="OIT"/>
		<repository marc="orcs" exlibris="OSU"/>
		<repository marc="wapip" exlibris=""/>
		<repository marc="orfp" exlibris="PU"/>
		<repository marc="orppc" exlibris="PCC"/>
		<repository marc="orps" exlibris="PSU"/>
		<repository marc="orpr" exlibris="REED"/>
		<repository marc="walsm" exlibris="STMU"/>
		<repository marc="utwvslc" exlibris=""/>
		<repository marc="wasmar" exlibris=""/>
		<repository marc="waspc" exlibris="SPU"/>
		<repository marc="wasu" exlibris="SEAU"/>
		<repository marc="orashs" exlibris="SOU"/>
		<repository marc="wat" exlibris=""/>
		<repository marc="waoe" exlibris="EVSC"/>
		<repository marc="idu" exlibris="UID"/>
		<repository marc="mtu" exlibris=""/>
		<repository marc="oru" exlibris="UO"/>
		<repository marc="oreuurm" exlibris="UO"/>
		<repository marc="oru" exlibris="UO"/>
		<repository marc="orpu" exlibris="UPORT"/>
		<repository marc="watu" exlibris="UPUGS"/>
		<repository marc="uu" exlibris=""/>
		<repository marc="uuml" exlibris=""/>
		<repository marc="wau-ar" exlibris="UW"/>
		<repository marc="waseumc" exlibris="UW"/>
		<repository marc="wau" exlibris="UW"/>
		<repository marc="ula" exlibris=""/>
		<repository marc="wawc" exlibris="WALLA"/>
		<repository marc="orpwp" exlibris="WPC"/>
		<repository marc="waps" exlibris="WSU"/>
		<repository marc="ormonw" exlibris="WOU"/>
		<repository marc="wabewwuh" exlibris="WWU"/>
		<repository marc="wabewwua" exlibris="WWU"/>
		<repository marc="wabewwus" exlibris="WWU"/>
		<repository marc="wabewh" exlibris="WWU"/>
		<repository marc="waww" exlibris="WHITC"/>
		<repository marc="waspw" exlibris="WW"/>
		<repository marc="orsaw" exlibris="WU"/>
	</codes>
	<dams>
		<contentdm-default>
			<repository pattern="content">waps</repository>
			<repository>idbb</repository>
			<repository>ula</repository>
			<repository>uuml</repository>
			<repository>wauar</repository>
			<repository>wabewwuh</repository>
			<repository pattern="contentdm">wachene</repository>
			<repository>ormac</repository>
			<repository>orkt</repository>
			<repository>orppc</repository>
			<repository>wasu</repository>
			<repository>orashs</repository>
			<repository>idu</repository>
			<repository>orpu</repository>
			<repository pattern="digitalcollections">watu</repository>
			<repository pattern="contentdm">wau</repository>
			<repository pattern="content.wwu">wabewh</repository>
			<repository pattern="contentdm">waww</repository>			
		</contentdm-default>		
		<digital-commons>
			<repository>mtu</repository>
			<repository>waeic</repository>
			<repository pattern="digitalcommons">orphs</repository>
			<repository>orpcc</repository>
			<repository pattern="dc.ewu">wachene</repository>
			<repository>orngf</repository>
			<repository>ormcl</repository>
			<repository>orfp</repository>
			<repository>orps</repository>
			<repository>waspc</repository>
			<repository pattern="soundideas">watu</repository>
			<repository>ormonw</repository>
			<repository pattern="cedar.wwu">wabewh</repository>
			<repository pattern="arminda">waww</repository>
			<repository pattern="digitalcommons">waspw</repository>
		</digital-commons>
		<dspace>
			<repository pattern="research">waps</repository>
			<repository pattern="scholarsbank">oru</repository>
			<repository pattern="digital.lib">wau</repository>
		</dspace>
		<omeka>
			<repository>wavc</repository>
			<repository>orpl</repository>
			<repository pattern="oai-pmh-repository">orphs</repository>
		</omeka>
		<oregondigital>
			<repository pattern="oregondigital">oru</repository>
		</oregondigital>
		<other>			
			<repository>orcs</repository>
			<repository note="some other contentdm">orsaw</repository>
		</other>
	</dams>
</config>
