/*
  ****************************************
  ORBIS CASCADE SPECIFIC STYLING
  ****************************************
 */
footer {
    background-color: #9d9d9d;
    color: #fff;
    font-size: 14px;
    line-height: 110%;
    margin: 0 auto 30px;
    padding: 18px 37px;
}
footer .footer-left-col {
    float: left;
    width: 255px;
}
footer .footer-right-col {
    float: left;
    width: 210px;
}
footer nav {
    padding-top: 9px;
}
footer nav ul {
    margin-bottom: 9px;
}
footer nav ul li {
    display: inline;
    list-style: outside none none;
}
footer nav ul li a {
    color: #fff;
    padding: 0 7px;
    text-transform: uppercase;
}
/*
  ****************************************
  GLOBAL
  ****************************************
 */
body {
	background-color:#F8F8F8;
}
.navbar {
	margin-bottom:0;
	
}
/*
  .navbar-brand {
  background: url('../images/nomisma.png') no-repeat left center;
  width:100%;
  }
 */
.row {
	background-color:white;
}
.highlight {
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	border-radius: 4px;
	margin:10px 0;
	padding: 10px;
}
.table-dl td {
	padding:5px;
}
/*
  ***************************************
  INDEX
  ***************************************
 */
.media {
	display:inline;
}
.media img {
	height:50px;
	margin:5px;
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#footer {
	padding:10px 0;
	border-top:1px solid #e7e7e7;
	text-align:center;
}
/*
  ***************************************
  CHO Display
  ***************************************
 */
.cho-container{
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	border-radius: 4px;
	margin:10px 0;
	padding: 10px;
	height:200px;
}
.cho-thumb {
	max-height:120px;
	padding:2px;
	border: 1px solid #E1E1E8;
	border-radius: 4px;
	background-color:white;
}
/*
  ***************************************
  RECORD PAGE
  ***************************************
 */
 #map {
     height:400px;
 }
 
/*
  ***************************************
  SPARQL
  ***************************************
 */
#sparqlForm {
	margin:20px 0;
}
#sparqlForm select {
	width:200px;
}
.CodeMirror {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.CodeMirror:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline: 0 none;
}margin-left:10px;
}